
.posts {
    background-color: #FCF9EE;
    min-height: 800px;
    width: 100%;
}

.gallery {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(auto, 100px));
    justify-items: center;
    align-items: center;
}
.galleryItem {
    width: auto;
    height: auto;
    object-fit: scale-down;
    object-position: center center;
}
