
.header {
    margin-top: 0px;
    background-color: #FCF9EE;
    width: 100%;
}

.headerImgContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 69px;
}

.headerImgItem {
    width: 33.33%;
}

.headerImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 11px;
    cursor: pointer;
}

.imgText {
    font-family: "Crete Round";
    color: #293021;
    font-size: 20px;
    margin-left: 5px;
}

.headerImg:hover {
    opacity: 0.69;
}

@media screen and (max-width: 840px) {
    .headerImgItem {
        width: 100%;
    }
    .headerImg {
        height: 200px;
    }
}
