.navbar {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Crete Round";
    z-index: 999;
    background-color: #FCF9EE;
}

.navbarList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 69px;
    list-style: none;
}

.navbarLeft, .navbarRight {
    display: flex;
    font-size: 20px;
    font-weight: 300;
    color: #96705B;
    cursor: pointer;
}

.navbarLeft {
    color: #96705B;
}

.navbarRight {
    color: #293021;
}

.navbarLeft:hover {
    color: #293021;
}

.navbarRight:hover {
    color: #96705B;
}
